<style>
  .result-tasks {
    font-size: 15px;
  }

  #sortable-list {
    width: 300px;
  }

  #sortable-list li {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background: white;
    cursor: grab;
  }
</style>

<h1>結果</h1>

<ol id="sortable-list">
  <% @tasks.each do |task| %>
    <li class="task-item"><%= task %></li>
  <% end %>
</ol>

<button id="copy-button">
  Markdownコピー
</button>
